Source: php-prctl
Section: web
Priority: optional
Maintainer: Andras Elso <elso.andras@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-php (>= 2.0~),
               libcap-dev,
               php-all-dev (>= 28~)
Standards-Version: 3.9.8

Package: php-prctl
Architecture: any
Pre-Depends: php-common (>= 2:69~)
Depends: ${misc:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Recommends: ghostscript,
            ttf-dejavu-core
Breaks: ${pecl:Breaks}
Replaces: ${pecl:Replaces}
Suggests: ${pecl:Suggests}
Provides: ${pecl:Provides},
          ${php:Provides}
Description: prctl module for PHP
 Extended prctl Support
 .
 operations on a process

